In [1]:
s=input()
i=0
count=0
while i<len(s):
    if s[i].isdigit():
        count+=1
    i+=1
print(count)

gtr5hu8
2

In [21]:
s=input()
i=0
sum1=0
while i<len(s):
    if s[i].isdigit():
        sum1+=int(s[i])
    i+=1   
print(sum1)

sd4r4
8

In [3]:
#for loop
#1.using range()
#2.using iterable object
n= int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number12
1 3 5 7 9 11

In [1]:
#input:phython
#output:p h y t h o n

s=input("enter a string")
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1

enter a stringphython
p h y t h o n

In [5]:
s=input("enter a string")
i=0
for i in range(0,len(s)):
    print(s[i],end=" ")

enter a stringadad
a d a d

In [8]:
#for iterable loop( reads the value in the "s" first)
s=input("enter a string")
i=0
for i in s:
    print(i,end=" ")

enter a stringsfdf
s f d f

In [9]:
##COLLECTION TYPE DATA TYPE
##LIST:
# 1.for creating a list use []
# 2.lists are mutable
# 3.lists are indexed
# 4.lists are ordered
# 5.lists allow duplicate values
# 6.stores heterogenous values

In [20]:
list1 =[23,34,56.7,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1]) #print reverse of "string"
print(list1[-1][-1]) #extract elements from sub list

[1, 2, 3]
[56.7, 'string']
gnirts
3

In [40]:
#manipulating a list
#1.adding elements ..............>>> append(), insert(),extend()
#( append == add elements at end of the list)
list1=[34,45,56,67]
print("before adding elements",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after ADDING elements",list1)

before adding elements [34, 45, 56, 67]
after ADDING elements [34, 45, 56, 67, 100, 200, 300]

In [22]:
list1.insert(1,400) #insert at position "1"
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [27]:
list1.extend([1,2,3])
list1                          #extend() accepts iterable object as argument

[34,
 400,
 45,
 56,
 67,
 100,
 200,
 300,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3]

In [35]:
#removing elements from the list.........>> pop(),remove(),clear()
list1.pop() #removes last element
list1
list1.pop(1)
print(list1)
list1.pop(17) # error : pop index out of range

[34, 1, 2, 3, 1, 2, 3, 1]

IndexError: pop index out of range

In [37]:
list1.remove(34) # removes the specified number not the position
list1

[2, 3, 1, 2, 3, 1]

In [38]:
list1.clear()
list1

[]

### replacing an element
list1[5]=1000
list1

In [59]:
#sorting a list
list1=[34,87,454,65,34,] #....>>doesnt return any value but sorts the list
list1.sort(reverse=True)   #......>> prints in desending order
list1.reverse()            #.......>>> doesnot sort but reverses the actual list
print(list1)

[34, 34, 65, 87, 454]

In [52]:
list1.index(65)

6

In [53]:
list1.count(34)

4

In [56]:
list1.append("swarupa")
list2=list1 #................>>> all the changes in the original list are reflected 
print(list1,"  ",list2)

[0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa']    [0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa']

In [57]:
list3=list1.copy()  #.....>> all the changes in original list are not reflected
list3

[0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa']

In [60]:
print(list1,list2,list3)
list1.append(133)
print(list1,list2,list3)

[34, 34, 65, 87, 454] [0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa', 133] [0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa']
[34, 34, 65, 87, 454, 133] [0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa', 133] [0, 1, 34, 34, 34, 34, 65, 87, 454, 'swarupa']

In [11]:
#input :[2,4,5,7,8]
#output:[4,16,25,49,64]

l1=[2,4,3]
l2=[]
l3=[]
i=0
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2,end=" ")
    
for i in l1:
        l3.append(i**2)
print(l3)

[4, 16, 9] [4, 16, 9]

In [31]:
#create a list and print only even elements

l1=[1,6,9,8,4,3]
l2=[]
i=0
for i in range(0,len(l1)):
    if l1[i]%2==0:
        l2.append(l1[i])
print(l2)

[6, 8, 4]

In [37]:
#create a list and accept values of the list at the runtime and print sum of all the elements of the list


l1=[]
sum1=0

n=int(input())
for i in range(n):
    l1.append(int(input()))
    sum1=sum1+l1[i]
print("sum:",sum1)

4
2
21
2
1
sum: 26

# Tuple:....> (immutable)
#...> use paranthesis
#...> no built in methods

In [38]:
x= 23,45,3,23,67
print(x)
print(type(x))

(23, 45, 3, 23, 67)
<class 'tuple'>

In [39]:
tup1=(23,34,5)
x,y,z=tup1    #unpacking
print(x,y,z)

23 34 5

# dictionary:
## syntax : { key1:value1,key2:value2,...}
## key:
# 1.key should be unique
# 2..key should be immutable

In [41]:
dict1 = {"name":"swarupa","course":"phython","address":"hyderabad"}
dict1["course"] #,..>retrive values from dict

'phython'

In [42]:
#replace values
dict1["course"]="c prg"
print(dict1)

{'name': 'swarupa', 'course': 'c prg', 'address': 'hyderabad'}

In [43]:
#adding new entry
dict1["collage"] ="GITAM"
print(dict1)

{'name': 'swarupa', 'course': 'c prg', 'address': 'hyderabad', 'collage': 'GITAM'}

In [44]:
#removing entry 
del dict1["name"]
print(dict1)

{'course': 'c prg', 'address': 'hyderabad', 'collage': 'GITAM'}

# FUNCTION
## SYNTAX : def name_of_the_function(arg list):

     .....>statements
     
     
     .....>return value (optional)

In [48]:
def add(x,y):  #func def
    print(x+y)

print(add(10,20))   #func calling
print(add(100,200))

30
None
300
None

In [54]:
def sq(n):
    return(n*n)
print(sq(2))
def cube(n):
    return sq(n)*n

print(cube(3))

4
27